<div class="loggedIn"></div>
<div class="navbar navbar-default navbar-fixed-top animate" translate-namespace="TOP_MENU">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        
        <img src={{logo}} style="height:40px;width:40px" />
      <!--<a class="navbar-brand" href="javascript:void(0)"></a>-->
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
	    <li ui-sref="employeedashboard" ui-sref-active="active">
			<a ui-sref="employeedashboard">
				<i class="material-icons">home</i>
				<span translate>.HOME</span>
				<div class="ripple-container"></div>
			</a>
		</li>
	   
        <li ui-sref="cashierHall({id:'{{room._id}}'})" ui-sref-active="active" ng-repeat="room in restoRooms" ng-if="loggedInUser.role!='kitchen'">
			<a ui-sref="cashierHall({id:'{{room._id}}'})" ng-show="shiftOpen">
				<i class="material-icons">event_seat</i>
				<span>{{room.name}}</span>
				<div class="ripple-container"></div>
			</a>
		</li>
          

		<li ui-sref="cashierBills" ui-sref-active="active" ng-show="shiftOpen" ng-if="loggedInUser.role!='kitchen'">
			<a ui-sref="cashierBills" >
				<i class="material-icons">receipt</i>
					<span translate>.BILLS</span>
				<div class="ripple-container"></div>
			</a>
		</li>
		
		<li ui-sref="cashierKiosk" ui-sref-active="active" ng-show="shiftOpen" ng-if="loggedInUser.role!='kitchen'">
			<a ui-sref="cashierKiosk" >
				<i class="material-icons">store_mall_directory</i>
					<span >Kiosko</span>
				<div class="ripple-container"></div>
			</a>
		</li>

		<li ui-sref="inventoryManager" ui-sref-active="active" ng-if="loggedInUser.role!='cashier' && loggedInUser.role!='waitress'">
			<a ui-sref="inventoryManager" >
				<i class="material-icons">content_paste</i>
					<span translate>.INVENTORY</span>
				<div class="ripple-container"></div>
			</a>
		</li>
		<li ui-sref="ordersMonitorA" ui-sref-active="active" ng-show="shiftOpen" ng-if="loggedInUser.role!='waitress'">
			<a ui-sref="ordersMonitorA" >
				<i class="material-icons">library_books</i>
					<span translate>.ORDERSMENUA</span>
				<div class="ripple-container"></div>
			</a>
		</li>
		<li ui-sref="ordersMonitorB" ui-sref-active="active" ng-show="shiftOpen" ng-if="loggedInUser.role!='waitress'">
			<a ui-sref="ordersMonitorB" >
				<i class="material-icons">library_books</i>
					<span translate>.ORDERSMENUB</span>
				<div class="ripple-container"></div>
			</a>
		</li>
       
				
      </ul>
     <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control col-md-8" placeholder="Search">
        </div>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        
		
		<!-- {{lang == 'sp' ? "Spanish" : "English"}} -->
		
        <li class="dropdown">
          <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
           <i class="material-icons">account_circle</i> <b class="caret"></b></a>
          <ul class="dropdown-menu">
			 <li>
					<a ui-sref="empprofile">
						<span translate>.PROFILE</span>
					</a>
			</li>
			<li>
					<a ui-sref="localsettings">
						<span translate>.SETTINGS</span>
					</a>
			</li>
			<li ng-show="lang == 'en'"> <a href="#" ng-click="changeLanguage('sp')" >Español</a></li>
              <li ng-show="lang == 'sp'"><a href="#" ng-click="changeLanguage('en')" >English</a>

              <!--<li ng-show="online"> 
              <a href="#" ng-click="changeOnlineStatusTest(false)">Online
                  </a>
              </li>
              <li ng-show="!online">
                  <a href="#" ng-click="changeOnlineStatusTest(true)">Offline
                  </a>
              </li>-->
              
              	
			<li>
				<a href="#" ng-click="core.terminate()" >
					<span class="hidden-xs" translate>.TERMINATE_SESSION</span>
					<span class="visible-xs" translate>.TERMINATE_SESSION</span>
				</a>
			</li>
			<li>
				<a href="#" ng-click="core.exitApp()" >
					<span translate>.EXIT</span>
					
				</a>
			</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
